{% extends "base.html" %}

{% block Titulo %} Inicio{% endblock %}

{% block contenido %}

{% include 'utilities/alert.html' %}
<div class="p-5 bg-secondary">
    <div class="container text-white">
        <h1 class="display-3">BIENVENIDOS</h1>
        <p class="lead">EMPEZAR A INGRESAR LIBROS</p>
        <hr class="my-2">
         
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="{% url 'libros' %}" role="button">EMPEZAR</a>
        </p>
    </div>
</div>
{% endblock %}