{% extends "base.html" %}

{% block Titulo %} CREAR{% endblock %}
 
{% block contenido %}
{% include 'utilities/alert.html' %}
<div class="card bg-dark text-light shadow-lg rounded-4 overflow-hidden">
  <div class="card-header bg-secondary bg-gradient text-center text-uppercase fw-bold py-3">
    <i class="fas fa-plus-circle me-2"></i> Crear un libro
  </div>
  <div class="card-body p-4">
    <h4 class="card-title text-warning text-uppercase fw-semibold mb-4 d-flex align-items-center">
      <i class="fas fa-book me-2"></i>
      Datos del libro
    </h4>
    <div class="mb-3">
      {% include 'libros/form.html' %}
    </div>
  </div>
  <div class="card-footer bg-secondary bg-gradient text-light text-center py-2">
    <small class="fw-light">Completa los campos para agregar un nuevo libro a la colección.</small>
  </div>
</div>

{% endblock %}