<form enctype="multipart/form-data" method="post">
  {% csrf_token %}

  <!-- Primera fila: primeros tres campos -->
  <div class="row g-3 mb-3">
    {% for campo in formulario %}
      {% if forloop.counter < 3 %}
        <div class="col-md-6 text-start">
               {% if campo.label == "Titulo" %}
            <i class="fas fa-book me-2 text-primary"></i>
          {% elif campo.label == "Autor" %}
            <i class="fas fa-user me-2 text-secondary"></i>

          {% endif %}
          <label for="{{ campo.id }}" class="form-label">{{ campo.label }}</label>

          {% if campo.field.widget.input_type == 'select' %}
            <select id="{{ campo.id_for_label }}" class="form-select bg-dark text-light border-secondary" name="{{ campo.name }}">
              <option selected disabled>{{ campo.label }}</option>
              {% for option in campo.field.choices %}
                <option value="{{ option.0 }}" {% if option.0 == campo.value %}selected{% endif %}>{{ option.1 }}</option>
              {% endfor %}
            </select>
          {% else %}
            <input type="{{ campo.field.widget.input_type }}" id="{{ campo.id }}" class="form-control bg-dark text-light border-secondary" name="{{ campo.name }}" placeholder="{{ campo.label }}" value="{{ campo.value | default:'' }}"/>
          {% endif %}
        </div>

      {% endif %}
    {% endfor %}
  </div>

  <!-- Segunda fila: últimos tres campos -->
  <div class="row g-3 mb-3">
    {% for campo in formulario %}
      {% if forloop.counter > 2 %}
        <div class="col-md-6 text-start">
            {% if campo.label == "Categoría" %}
            <i class="fas fa-tags me-2 text-success"></i>
          {% elif campo.label == "Año de publicación" %}
            <i class="fas fa-calendar-alt me-2 text-info"></i>
          {% elif campo.label == "Imagen" %}
            <i class="fas fa-image me-2 text-warning"></i>
          {% elif campo.label == "Descripcion" %}
          <i class="fas fa-align-left me-2 text-danger"></i>
         {% endif %}
          <label for="{{ campo.id }}" class="form-label">{{ campo.label }}</label>

          {% if campo.field.widget.input_type == 'select' %}
            <select id="{{ campo.id_for_label }}" class="form-select bg-dark text-light border-secondary" name="{{ campo.name }}">
              <option selected disabled>{{ campo.label }}</option>
              {% for option in campo.field.choices %}
                <option value="{{ option.0 }}" {% if option.0 == campo.value %}selected{% endif %}>{{ option.1 }}</option>
              {% endfor %}
            </select>
          {% elif campo.field.widget.input_type == 'file' %}
            <br>
                  <label id="custom-file" class="custom-file-upload">
                    <input type="file" name="archivo" accept=".png, .jpeg" id="{{ campo.id }}" style="display: none;" onchange="updateFileName(this)">
                    <span id="select-file-text">Seleccionar archivo</span>
                    <span id="file-name" style="display:none;"></span>
                </label>
{% else %}
            <input type="{{ campo.field.widget.input_type }}" id="{{ campo.id }}" class="form-control bg-dark text-light border-secondary" name="{{ campo.name }}" placeholder="{{ campo.label }}" value="{{ campo.value | default:'' }}"/>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Botones -->
  <div class="text-end">
    <button type="submit" class="btn btn-success bg-gradient">Guardar</button>
 <a href="{% url 'libros' %}" class="btn btn-danger bg-gradient">Cancelar</a>
  </div>
</form>

   <script>
        function updateFileName(input) {
           const label = input.parentElement;
    const fileNameSpan = document.getElementById("file-name");
    const selectFileTextSpan = document.getElementById("select-file-text");

    if (input.files.length > 0) {
        // Cambiar texto al nombre del archivo
        fileNameSpan.style.display = "inline";
        selectFileTextSpan.style.display = "none";
        fileNameSpan.textContent = input.files[0].name;

        // Aplicar la clase "selected" al label
        label.classList.add("selected");
    } else {
        // Revertir los cambios si no hay archivo seleccionado
        fileNameSpan.style.display = "none";
        selectFileTextSpan.style.display = "inline";
        label.classList.remove("selected");
    }
        }

        function limitarPunto() {
            var input = document.getElementById('nombre_archivo_input');
            input.value = input.value.replace(/\./g, '');
        }

    </script>