<form  enctype="multipart/form-data" method="post">
{% csrf_token %} 
{% for campo in formulario %}
    
    <div class="mb-3">
        <label for="" class="form-label">{{campo.label}} </label> 
     <input 
       type="{{campo.field.widget.input_type}}"
       class="form-control" 
       name="{{campo.name}}" 
       id="" 
       aria-describedby="helpId" 
       placerholder="{{ campo.label }}" 
       value="{{ campo.value | default:'' }}"/> 
     <br> 
    </div>
    <div class="col-12 help-text">{{campo.errors}}</div>

{% endfor %}

     <input name="" id="" class="btn btn-success bg-gradient" type="submit" value="ACEPTAR"/> 
</form>